.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.3333% - 20px);
  margin-left: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.card * {
  border-radius: 10px;
}

.date {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 1.4px;
  color: var(--darkGray);
  margin-bottom: 15px;
  margin-top: 10px;
}
.link,
.link:visited {
  color: var(--darkBlue);
}

.image {
  width: 100%;
  transition: 0.3s;
  object-fit: cover;
}
.image:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 550px) {
  .card {
    flex-basis: 100%;
    margin-left: 0;
  }
}
