.container {
  margin-top: 130px;
}
.title {
  margin-bottom: 15px;
}
.content {
  margin-top: 80px;
  margin-bottom: 120px;
}
.content__text {
  margin-bottom: 20px;
}

.content__title {
  margin-bottom: 30px;
}

.main-list {
  list-style-type: decimal;
}

.roman-list {
  list-style-type: upper-roman;
}

.main-list li::marker {
  font-size: 26px;
}

.roman-list li::marker {
  font-size: 26px;
}

@media (max-width: 767px) {
  .main-list {
    padding-left: 20px;
  }
  .roman-list {
    padding-left: 20px;
  }
  .main-list li::marker {
    font-size: 14px;
  }

  .roman-list li::marker {
    font-size: 14px;
  }
}
