.paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justyfy {
  text-align: justify;
}

@media (max-width: 900px) {
  .paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
  }
}
