.search {
  max-width: 171px;
  position: relative;
  overflow: hidden;
}
.search > input {
  border-radius: 0;
  border: none;
  padding-left: 0;
  border-bottom: 1px solid var(--text);
  transition: 0.3s;
  outline: none;
}
.search.appearance > input {
  border-bottom: 1px solid var(--pink);
}
.search svg {
  position: absolute;
  transition: 0.3s;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.search svg.appearance {
  transform: translateY(-50%) translateX(100px);
}

@media (max-width: 768px) {
  .search {
    margin-bottom: 25px;
  }
}
