.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: var(--space);
}
.title {
  margin-bottom: 30px;
}
.item {
  margin-bottom: 15px;
  display: flex;
}
.link {
  transition: 0.3s;
  color: var(--darkGray);
}
.link.active {
  color: var(--darkBlue);
}

.count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: 0.3s;
  margin-right: 4px;
  color: var(--darkGray);
}
.count.active {
  background-color: var(--pink);
  color: var(--white);
}

@media (max-width: 900px) {
  .sidebar {
    position: relative;
    top: 0;
  }
}
