.paginationWrapper {
  margin-bottom: 60px;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.noresult {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navigation {
    margin-bottom: 40px;
  }
}

@media (max-width: 550px) {
  .paginationWrapper {
    display: none;
  }
}
