@import "~normalize.css";

html,
body {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;

  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
  color: var(--darkBlue);
}

:root {
  --white: #fff;
  --black: #000;
  --lightGray: #e5e5e5;
  --gray: #cbcbcb;
  --darkGray: #acacac;
  --darkBlue: #151033;
  --pink: #ef9fd9;
  --text: #2c2c2c;

  --space: 2rem;
}
